{% load util_tags %}

{% if paginator_page.paginator.num_pages > 1 %}
<nav class="cx-pagination" aria-label="Pagination">
    {% if paginator_page.has_previous %}
        <a href="{% querystring_modify page=paginator_page.previous_page_number %}">Prev</a>
    {% endif %}

    {% for i in paginator_page.paginator.page_range %}
        {% if paginator_page.number == i %}
            <span aria-current="page">{{ i }}</span>
        {% elif i > paginator_page.number|add:'-3' and i < paginator_page.number|add:'3' %}
            <a href="{% querystring_modify page=i %}">{{ i }}</a>
        {% endif %}
    {% endfor %}

    {% if paginator_page.has_next %}
        <a href="{% querystring_modify page=paginator_page.next_page_number %}">Next</a>
    {% endif %}
</nav>
{% endif %}
